/* app scss stylesheet */
/*http://paletton.com/#uid=72H0u0kumkgm8rJrloqBrfRMDas*/

@import url(https://fonts.googleapis.com/css?family=Inconsolata);

$darkgreen: #00523d;
$lightgreen: #2c9077;
$red: #cf4059;
$rollover: #575757;

html {
  // background-color: $darkgreen;
  background: url('../assets/images/woods_640_darkblur.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body {
  color: $lightgreen;
  font-family: 'Inconsolata', Helvetica, Arial, sans-serif;
  font-size: 32px;
  background:none;
}

/*.main:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background: url('../assets/images/woods_640.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}*/

.main {
 width: 90%;
 margin: 0 5% 5% 5%;
}

.fadeIn {
    -webkit-animation: fadeIn 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeIn 0.5s; /* Firefox < 16 */
        -ms-animation: fadeIn 0.5s; /* Internet Explorer */
         -o-animation: fadeIn 0.5s; /* Opera < 12.1 */
            animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; margin-left: 10px}
    to   { opacity: 1; margin-left: 0px}
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
    from { opacity: 0; margin-left: 10px}
    to   { opacity: 1; margin-left: 0px}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
    from { opacity: 0; margin-left: 10px}
    to   { opacity: 1; margin-left: 0px}
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
    from { opacity: 0; margin-left: 10px}
    to   { opacity: 1; margin-left: 0px}
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
    from { opacity: 0; margin-left: 10px}
    to   { opacity: 1; margin-left: 0px}
}

a {
  color: $red;
  text-decoration: none;
}

a:hover {
  color: $rollover;
}

.active {
  text-decoration: underline;
}

input {
  background-color: $darkgreen;
  border: 1px solid $lightgreen;
  color: #fff;
  height: 30px;
  width: 200px;
  font-size: 20px;
  border-radius: 5px;
  padding-left: 4px;
}

button {
  color: #fff;
  background-color: $lightgreen;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  border: 0;
}

button:hover {
  background-color: $rollover;
  cursor: crosshair;
}

.important {
  background-color: $red;
}

.rubbish {
  background-color: #fff;
  color: $red;
}

.archer1 {
  color: $red;
}

.archer2 {
  color: #62be3b;
}

.archer3 {
  color: #fff;
}

.archer4 {
  color: #206D00;
}

.archer5 {
  color: #b61b36;
}

.archer6 {
 color: #003629;
}

.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

/*MENU*/

.menu {
  display: block;
  margin: 20px 0 0 0;
  list-style: none;
  float: right;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
